* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    border: 8px solid black;
    height:20px
}

.flex-item {
 background-color: aqua;
 border: 5px solid blue;
 text-align: center;
 font-size: 20px; 
 padding:b20px; 
}

